body {
  background-image: linear-gradient(150deg, rgba(0, 0, 58, 0.8), rgba(136, 136, 206, 0.7)), 
                    url(https://wallpapers.com/images/hd/code-text-colorful-symbols-programming-avfu043y2kv52wha.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-postion:center;
  color: white;
  width:100vw;
  font-family:Arial;
}


#title{
  margin-top:20px;
  text-align:center;
  margin-bottom:5px;
}



#description{
  margin-top:0;
  text-align:center;
  font-family:lobster;
}

#survey-form{
width:80%;
margin:0 auto;
border-radius:10px;
max-width:800px;
min-width:500px;

}

.form-div{
display:flex; 
flex-direction:column;
margin: 10px 0 10px 0;
padding:0.25rem;
}

label{
  margin-bottom:10px;
  width:80%;
  font-size:18px;
  padding-top:8px;
}
input,select{
  width:90%;
  height:40px;
  border-radius:5px;
  font-size:16px;
}


textarea{
  width:90%;
  font-size:16px;
  height:100px;
}

input[type="radio"],input[type="checkbox"]{
  margin-left:20px;
  width:10%;
  height:20px;
}


.form-radio,.div-checkbox{
display:flex;
flex-direction:row;
align-items:center;
padding-bottom:5px;
}



input[type="submit"]
{
  width:90%;
  color:white;
  background-color:green;
  border:1px solid green;
  margin-bottom:50px;
}
